body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color:#b8bab8;
  letter-spacing:2px;
}
.warsaw{
  float:inherit;
  max-width:100%;
  opacity: 0.7;
  filter: grayscale(40%);

}
header{
  display:flex;
  flex-direction:row;
  margin-top:20px;
}
h1 {
  align: center;
  color:#423f40;
  font-weight: bold;
}

h1:hover {
  cursor: pointer;
}

.small{
  display:none;
}

.big {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  text-align:center;
  grid-gap: 3%;
}

.menu{
  color:#423f40;
  font-weight: bold;
  cursor: pointer;
}

.menu:hover{
  font-size: 120%;
  color: black;
}

@media screen and (max-width:450px) {
  h1 {
    font-size: 18px;
  }
  .small {
    font-size: 30px;
  }
}

@media screen and (max-width:992px) {
  body {
    display:grid;
    grid-template-rows:100px 100px 200px 100px;
  }
  .big {
    display: none;
  }
  .display {
    display:flex;
    flex-direction: column;
    padding:10px;
    margin-right:70%;
    margin-top:25%;
    position: fixed;
    z-index:1;
  }
  .small {
    display: block;
    text-align:left;
    font-size:50px;
    cursor:pointer;
    color: #244242;
  }
  .menu {
    background-color: #e5e8e7;
    border: solid;
    font-size:20px;
    padding-top:5%;
  }

  .text{
    display: flex;
    margin-left:30%;
    margin-top:10%;
    margin-right:5%;
    text-align:justify;
  }
  .obrazek {
    display:none;
  }
}

.hidden {
  display: none;
}

@media screen and (min-width:993px){
.text {
  display: grid;
  grid-template-columns: 25% 65%;
  grid-gap:3%;
  margin-top:10%;
  margin-right:5%;
  text-align:justify;
  }
}
.obrazek{
  width:100%;
}

.icons{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  font-size:50px;
  padding:30px;
  margin-left: 20%;
  color: #244242
}
footer{
  text-align: center;
  font-size:15px;
}
span {
  color: #244242;
}
